//COLORS
$swamp: #001614;
$gray: #888;
$silver: #CCC;
$white: #FFF;
$sky-blue: #79DEE7;
$persimmon: #FF565B;

//Font-size

$font-size-xxx-large: 40px;
$font-size-xx-large: 30px;
$font-size-x-large: 20px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;


//breakpoints
$bp-sm-movil: 576px;
$bp-md-tablet: 768px;
$bp-lg-laptop: 992px;
$bp-xl-desktop:1200px;